$background-white-color: white;
$background-grey-color: rgb(216, 216, 216);
$border-grey-color: rgb(150, 150, 150);

.chat-component {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.chat-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  background-color: $background-grey-color;
  margin: 20px 10px 20px 20px;
  padding: 20px;
  width: 80%;
  border: solid 1px $border-grey-color;
}

.hang-up {
  background-color: $background-grey-color;
  margin: 20px 20px 20px 10px;
  padding: 20px;
  border: solid 1px $border-grey-color;
  width: 100px;
  text-align: center;
}

.chat-body {
  display: flex;
  flex-direction: row;
  background-color: $background-white-color;
  height: 90vh;
}

.editor {
  width: 50%;
  background-color: $background-grey-color;
  margin: 20px 10px 20px 20px;
  border: solid 1px $border-grey-color;
}

.chat-box {
  width: 50%;
  background-color: $background-grey-color;
  margin: 20px 10px 20px 20px;
  border: solid 1px $border-grey-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form input {
  width: 80%;
  height: 30px;
}

form button {
  width: 70px;
  margin-left: 5px;

}

form button:hover {
  cursor: pointer;
}

#messages {
  display: flex;
  flex-direction: column;
}

.oneMessage {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 5px 20px;
  border-radius: 10px;
  max-width: 50%;
}

.myMessage {
  align-self: flex-end;
  background-color: rgb(185, 249, 185);
}

.elseMessage {
  align-self: flex-start;
  background-color: white;
}

.messageDate {
  font-size: 10px;
  align-self: flex-end;
}
