$bg-color: rgb(33, 35, 51);
$yellow-color: rgb(255, 216, 102);
$white-color: rgb(255, 255, 255);

.navbar {
  display: flex;
  flex-direction: row;
  background-color: $bg-color;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-component {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-item {
  margin-right: 15px;
  font-weight: bold;
  color: $white-color;
}

.navbar-icon {
  margin: 0 5px;
}

#username {
  font-size: .8em;
  margin: 0;
  padding: 0;
}

.profile-menu {
  background-color: lightgray;
  width: 140px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 50;
  padding: 10px;
}

.menu-item {
  padding: 2px;
}
