@import '../../colors.scss';
$searchSize :  45px;

.navbar-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $secondary;
  height: 100px;
  padding-top: 20px;
}

.navbar-box__landingPage {
  display: flex;
  flex-direction: column;
  height: 450px;
  background-image:linear-gradient(
    to right bottom,
    $secondary-transparent,
    $secondary-transparent),
    url("../../assets/pairProgramming4.jpeg");
  background-size: cover;
  background-position: 0 35%;
  padding-top: 20px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.navbar__component {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
  color: $white;
  font-weight: bold;
}

.navbar-icon {
  margin: 0 5px;
}

.navbar__link {
  text-decoration: none;
  color: $white;
  font-weight: bold;
}

.navbar__userInfo {
  display: flex;
  flex-direction: column;
  color: $white;
  font-weight: bold;
  align-items: center;
}

#username {
  font-size: .8em;
  margin: 0;
  padding: 0;
}

.profile-menu {
  background-color: lightgray;
  width: 140px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 50;
  padding: 10px;
}

.menu-item {
  padding: 2px;
}

.landing-page-body {
  display: flex;
  flex-direction: column;
  color: $white;
  justify-content: center;
  align-items: center;
}

.landing-page-body form {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page-body h5 {
  font-size: 1.2rem;
}

.landing-page-body h3 {
  margin-top: 50px;
}

.landing-page-body img {
  width: 250px;
  margin-top: 25px;
}



#searchTerm {
  height: $searchSize;
  padding: 0;
  margin: 0;
  border: none;
  border-bottom-left-radius: $searchSize;
  border-top-left-radius: $searchSize;
  background-color: rgba(254, 255, 255, 0.8);
  padding: 0 0 0 22px;
  width: 300px;
}

#searchTerm::placeholder {
  color:rgba(0, 0, 0, 0.4);
}

.searchTerm-button{
  background-color: $primary;
  transition: all 0.3s;
  border: none;
  border-bottom-right-radius: $searchSize;
  border-top-right-radius: $searchSize;
  height: $searchSize;
  width: $searchSize;
  padding: 0 15px;
}

.searchTerm-button:hover {
  background-color: darken($primary, 5%);
  box-shadow: inset 2px 2px 2px darken($primary, 40%);
}
