@import '../../colors.scss';

.offerNotSent {
  border: 2px solid greenyellow;
}

.offerSent {
  border: 2px solid yellow;
}

.question__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80vw;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 20px 20px 0 20px;
}

.question__user {
  width: 20%;
  margin-left: 2%;
}

.question__container div {
  width: 80%;
  color: $secondary;
  display: flex;
  flex-direction: column;
}


.question__container h4 {
  margin-right: 15px;
  margin-bottom: 5px;
}

.question__container p {
  margin-bottom: 20px;
  margin-left: 15px;
}
